@import "tailwindcss";
@import "./typography.css";

@custom-variant dark (&:where(.dark, .dark *));

/* COLOR SCHEME */
.dark {
  --background: var(--color-zinc-800);
  --foreground: var(--color-zinc-300);
  --accent: var(--color-yellow-500);
}

.light {
  --background: var(--color-gray-100);
  --foreground: var(--color-gray-800);
  --accent: var(--color-blue-500);
}

/* CODE BLOCK */
.light {
  .astro-code,
  .astro-code span {
    color: var(--shiki-light) !important;
    background-color: var(--shiki-light-bg) !important;
  }
}
.dark {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }
}

/* INIT TAILWIND THEME */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);

  --font-sans: "Space Grotesk Variable";
  --font-mono: "IBM Plex Mono";
}

/* BASE STYLING */
@layer base {
  html {
    @apply bg-background text-foreground selection:bg-accent selection:text-background overflow-y-scroll scroll-smooth antialiased;
  }
  body {
    --z-old: 1;
    --z-new: 2;
  }
  .dark {
    --z-old: 2;
    --z-new: 1;
  }

  button:not(:disabled) {
    cursor: pointer;
  }
}

/* SCROLLBAR STYLING */
@layer base {
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-foreground);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-accent);
  }
}

/* COVER IMAGE */
@layer base {
  .cover-image {
    @apply relative mb-8;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
  }
  .cover-image img {
    @apply w-full h-auto border-0 ring-0 cursor-default;
  }
  .cover-image figcaption {
    @apply static opacity-70 bg-transparent text-foreground text-sm py-2 text-center;
  }
}

/* FULL WIDTH IMAGE (for use in markdown articles) */
@layer base {
  .markdown figure.full-width {
    @apply relative my-8 px-6 md:px-12;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
  }
  .markdown figure.full-width img {
    @apply w-full h-auto;
  }
}

/* LIGHTBOX */
@layer base {
  .lightbox img {
    @apply ring-0 border-0 cursor-zoom-out;
  }
}

/* CLICKABLE IMAGES */
figure img,
.markdown img {
  cursor: pointer !important;
}
.cover-image img {
  cursor: default !important;
}

/* THEME TRANSITION */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: var(--z-old);
}
::view-transition-new(root) {
  z-index: var(--z-new);
}
