---
import Socials from "./Socials.astro";
---

<footer class="footer-margin">
  <div class="flex flex-col items-center justify-center gap-3">
    <Socials />
    <span class="text-foreground/70 text-sm">© {new Date().getFullYear()} MIT License</span>
    <span class="text-foreground/70 text-sm">
      powered by <a href="https://astro.build" class="link" target="_blank" rel="noopener noreferrer">Astro</a>
    </span>
  </div>
</footer>
