---

---

<div class="flex gap-6">
  <a href="/cv" class="navigation animation">cv</a>
  <a href="/archive/1" class="navigation animation">archive</a>
  <a href="/tags" class="navigation animation">tags</a>
</div>
