---
const { page } = Astro.props;
---

<nav class="flex items-center justify-center gap-6 py-6">
  <a
    href={page.url.prev}
    class:list={[
      "button",
      { "pointer-events-none opacity-30": !page.url.prev },
    ]}
  >
    prev
  </a>
  <span class="text-sm opacity-70">
    {page.currentPage} of {page.lastPage}
  </span>
  <a
    href={page.url.next}
    class:list={[
      "button",
      { "pointer-events-none opacity-30": !page.url.next },
    ]}
  >
    next
  </a>
</nav>
